{% extends "skeleton.html.twig" %}

{% block about %}

  <div class="container about">
      <img src="{{ asset('img/home.jpg') }}" class="about-banner img-fluid" alt="">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident numquam molestias officia maiores, eaque, obcaecati possimus tempore laudantium hic earum ullam nemo sapiente voluptatibus reprehenderit, in officiis? Autem, fuga id!Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident numquam molestias officia maiores, eaque, obcaecati possimus tempore laudantium hic earum ullam nemo sapiente voluptatibus reprehenderit, in officiis? Autem, fuga id!Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident numquam molestias officia maiores, eaque, obcaecati possimus tempore laudantium hic earum ullam nemo sapiente voluptatibus reprehenderit, in officiis? Autem, fuga id!</p>
  </div>
  {% endblock about %}
{% block admin %}
{% endblock admin %}