{% extends "skeleton.html.twig" %}

{% block grid %}
{% endblock grid %}
{% block admin %}
<div class="container admin">
  <h1>Administrator Panel</h1>
</div>

<div class="container col-12">

<div class="container admin-panel">
{{form_start(articleform)}}

<div class="bim mb-3" style="color:white;">
{{form_widget(articleform.title)}}
{{form_widget(articleform.url)}}
</div>

<div class="mb-3">
  {{form_widget(articleform.content)}}
</div>
<div class="d-flex justify-content-between">
      {{form_widget(articleform.tag)}}
      {{form_widget(articleform.submit)}}
</div>
{{form_end(articleform)}}
</div>
</div>
{{form_end(articleform)}}
{% endblock admin %}
{% block about %}
{% endblock about %}