{% extends "skeleton.html.twig" %}

{% block grid %}
{% endblock grid %}
{% block admin %}
<div class="container admin">
  <h1>Administrator Panel</h1>
</div>

<div class="container col-12">
<div class="container admin-panel col-3">

</div>
<div class="container col-9">
{{form_start(form)}}

<div class="bim mb-3" style="color:white;">
{{form_widget(form.title)}}
{{form_widget(form.url)}}
</div>

<div class="mb-3">
  {{form_widget(form.content)}}
</div>
<div class="d-flex justify-content-between">
      {{form_widget(form.tag)}}
      {{form_widget(form.submit)}}
</div>
{{form_end(form)}}
</div>
</div>
{% endblock admin %}
{% block about %}
{% endblock about %}