<footer>
  <div class="container-fluid col-12">
      <ul class="footer-nav">
        <li><a class="nav-link" href="{{path('home')}}">Accueil</a></li>
        <li><a class="nav-link" href="{{path('about')}}">About</a></li>
        <li><a class="nav-link" href="{{path('home')}}">Accueil</a></li>
        <li><strong><a class ="nav-link" href="{{path("admin")}}">Administration</a></strong></li>
      </ul>
        <ul class="footer-social">
            <li>
              <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a>
          </ul>
          <p>2018 - Developped by Rafu</p>
  </div>

</footer>