<header>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container toggle mx-auto">
                <a class="navbar-brand" href="{{path('home')}}">
                    <h1>RFU
                        <span>.</span>
                    </h1>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item home">
                            <a class="nav-link" href="{{path('home')}}">Accueil</a>
                        </li>
                        <li class="nav-item about">
                            <a class="nav-link" href="{{path('about')}}">A propos</a>
                        </li>
                        <li class="nav-item contact">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li>
                            <div class="cntr search-btn">
                                <div class="cntr-innr">
                                    <label class="search" for="inpt_search">
                                        <input id="inpt_search" type="text" />
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>